<h1>Events:</h1>
<% @events.each do |event| %>
    <div style="display: flex; flex-direction: column; margin: 10px;">
        <div><%= event.title %></div>
        <div><%= event.date %></div>
        <div><%= event.body %></div>
    </div>
<% end %>
