<% if flash.any? %>
    <div class='flash'>
        <%= flash[:alert] %>
    </div>
<% end %>

<%= render "header" %>

<h1>Upcoming Events:</h1>
<% @events.not_private.future_events.each do |event| %>
    <%= render "list_events", event: event %>
<% end %>

<h1>Past Events:</h1>
<% @events.not_private.past_events.each do |event| %>
    <%= render "list_events", event: event %>
<% end %>
