<div style="display: flex; flex-direction: column; margin: 10px;">
    <div><%= @event.title %></div>
    <div><%= @event.date %></div>
    <div><%= @event.body %></div>
</div>

<h2>Attendee List:</h2>
<ul>
    <% @event.attendees.each do |attendee| %>
        <li><%= attendee.email %></li>
    <% end %>
</ul>